body{
    font-family: 'Rubik', sans-serif;
}

.orange-color{
    color:orange;
}
h1{
    font-size: 60px;
}
p{
    font-size: 25px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    color:white;
    padding: 10px 20px;
    border-radius:15px;
}
.flex-container{
    display: flex;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}
.half-width img{
    width: 500px;
    height: 600px;
   
}
.article{
    padding-top: 5%;
    padding-left: 8%;
}
.bg-sec-2{
    background-image: url(woman/person-bg.png);
    background-repeat: no-repeat;
}
.third-cont{
    display: flex;
    margin-bottom: 10p;
}
.one-third{
    width:25%;
    box-shadow: 10px 10px 10px #aaaaaa;
    margin-left: 4%;
    margin-right: 3%;
    padding:20px;
    border-radius: 20px;
}
.one-third img{
    width: 100%;
}
.mid{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
footer{
    text-align: center;
    background-color: rgb(100, 98, 98);
    margin: 0px -8px -20px -8.5px;
    padding-bottom: 3px;
}